In [1]:
#break statement
for i in range(1,10+1):
    if i==5:
        break
    else:
        print(i,end="  ")

1  2  3  4

In [ ]:
# continue statement
for i in range(1,10+1):
    if i==5:
        continue
    else:
        print(i,end="  ")

In [3]:
#pass statement
for i in range(1,10+1):
    if i==5:
        pass
    else:
        print(i,end="  ")

1  2  3  4  6  7  8  9  10

In [4]:
#required arguments
def greet(a,b):
    print(a,b)
    
    
    
    
greet("students","good morning")

students good morning

In [6]:
#keywords arguments
def display(branch,name):
    print(branch,name)
    

display(branch="ECE",name="namratha")

ECE namratha

In [8]:
#default arguments
def display(name,branch="ece"):
    print(name,branch)
     
        
display(name="namratha",branch="A.M reddy")

namratha A.M reddy

In [9]:
#variable length arguments
a=[1,2,3,4]
def display(*a):
    print(a)

display(a)

([1, 2, 3, 4],)

In [1]:
#table printing
n=int(input())
def table(n):
    for i in range(1,11):
        print(n,'*',i,'=',n*i)

table(n)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
#finding  no.of cycles #count
n=int(input())
def cyclecount(n):
    count=0
    while(n>1):                                                
        if n%2==0:
            n=n//2
            count=count+1
        else:
            n=n*3+1
            count=count+1
    print(count+1)         
    
    
    
    
cyclecount(n)

3
8

In [ ]:
#advertisement of buildings
def buildings():
    s=int(input("enter the no.of streets"))
    for i in range(1,s+1):
        n=int(input("enter no.of buildings"))
        r=int(input("enter no.of rupees"))
        max=0
        count=0
        for j in range (1,n+1):
            h=int(input("height of the building"))
            if(h>max):
                count=count+1
                max=h
        print(count*r)        
buildings()

enter the no.of streets2
enter no.of buildings5
enter no.of rupees5
height of the building5
height of the building4
height of the building7
height of the building9
height of the building2
15

In [21]:
#find the ASCII values
for i in range(65,90+1):
    print(i,chr(i))

65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z

In [14]:
a='amarnath'

In [12]:
for i in a:
    print(i)

a
m
a
r
n
a
t
h

In [36]:
a='AMARNATH'

In [102]:
len(a)

8

In [38]:
#to find length of the code
count=0
for i in a:
    count=count+1
print(count)

8

In [39]:
#for reverse printing of a string
a[::-1]

'HTANRAMA'

In [45]:
a[4]

'N'

In [48]:
a[5]

'A'

In [51]:
a[4:]

'NATH'

In [52]:
a[:4]

'AMAR'

In [53]:
a

'AMARNATH'

In [55]:
a[-6]

'A'

In [56]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [58]:
#capitalize
k="e.c.e branch"
k.capitalize()  # it is capitilize the starting carchter of the string

'E.c.e branch'

In [59]:
#casefold
k.casefold()

'e.c.e branch'

In [60]:
o='ECE branch'
k.casefold()  #it will convert all the charaster in the string into lower case

'e.c.e branch'

In [63]:
#center
k.center(50) #in center method we should have to pass at least one arugment  i.e..integer
             #it will place the string in center position

'                   e.c.e branch                   '

In [64]:
#count
# to know the frequency of a charater
#for count method we should have to pass at kleast one argument i.e char
k.count('e')

2

In [65]:
#endswith
#for check the condition write or wrong
#to know the specified charaster ends with
#it returns either true (or) false
k.endswith('h')

True

In [73]:
#find
#it will display the 1st apperence indexx value
k.find('b')

6

In [71]:
#index
k.index('c')

2

In [74]:
q="ABCD"
q.lower()

'abcd'

In [80]:
j="abcd"
j.upper()

'ABCD'

In [88]:
s="amarnath"

In [91]:
s.replace('n','N')
#replace

'amarNath'

In [96]:
#split
s="amarnath,ganesh,harish"
s.split(',')

['amarnath', 'ganesh', 'harish']

In [97]:
g="amarnath"

In [98]:
g.swapcase()

'AMARNATH'

In [100]:
#title
n="amarnath ganesh harish"
n.title()

'Amarnath Ganesh Harish'

In [3]:
#finding route
n=input()

x=0
y=0
for j in n:
    if j=="L":
        x=x-1
    if j=="R":
        x=x+1
    if j=="U":
        y=y+1
    if j=="D":
        y=y-1
print(x,y)

LLRDDR
0 -2

In [1]:
#hallow square pattern
side = int(input("Please Enter any Side of a Square  : "))
print("Hollow Square Star Pattern")
i = 0
while(i < side):
    j = 0
    while(j < side):
        if(i == 0 or i == side - 1 or j == 0 or j == side - 1):
            print('*', end = '  ')
        else:
            print(' ', end = '  ')
        j = j + 1
    i = i + 1
    print()

Please Enter any Side of a Square  : 5
Hollow Square Star Pattern
*  *  *  *  *
*           *
*           *
*           *
*  *  *  *  *